<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>A+ Personal Homecare</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#1F3862">
  <meta name="msapplication-navbutton-color" content="#1F3862">
  <meta name="apple-mobile-web-app-status-bar-style" content="#1F3862">
</head>

<body>

  ${require('../parts/header.html')}
  <main class="main error">
    <div class="container">
      <div class="error__inner">
        <span class="error__num animate fadeInUp">404</span>
        <p class="error__title animate fadeInUp">sorry! page can’t be found. This is either because:</p>
        <p class="error__text animate fadeInUp">There is an error in the URL entered into your web browser. Please check the URL and try
          again.</p>
        <p class="error__text animate fadeInUp">The page you are looking for has been moved or deleted</p>
        <a class="error__back animate fadeInUp" href="javascript:void(0)"><svg width="14" height="20" viewBox="0 0 14 20"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M3.59939 0.479776L13.1194 9.99978L3.59939 19.5198L0.879395 16.5731L7.45273 9.99978L0.879395 3.42644L3.59939 0.479776Z" />
          </svg><span>back to home</span> </a>
      </div>
    </div>

  </main>
  ${require('../parts/footer.html')}

</body>

</html>
