<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>A+ Personal Homecare</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#1F3862">
  <meta name="msapplication-navbutton-color" content="#1F3862">
  <meta name="apple-mobile-web-app-status-bar-style" content="#1F3862">
</head>

<body>

  ${require('../parts/header.html')}
  <main class="main about-team">
    <div class="section section-main">
      <h1 class="section-main__title animate fadeInUp">
        A + Personal Home Care Team
      </h1>
    </div>
    <div class="staff">
      <ul class=" staff__list">

      <li class="staff__item animate fadeInUp">
        <div class="staff__item-img">
          <img src="../../images/img-01.jpg" alt="Ilona Yusufov" width="350" height="300">
        </div>
        <div class="staff__item-about">
          <p class="staff__item-name">Ilona Yusufov</p>
          <p class="staff__item-position">Director of Clinical Services/RN</p>
        </div>
      </li>

      <li class="staff__item animate fadeInUp">
        <div class="staff__item-img">
          <img src="../../images/img-02.jpg" alt="Ilona Yusufov" width="350" height="300">
        </div>
        <div class="staff__item-about">
          <p class="staff__item-name">Khatuna Kutchava
          </p>
          <p class="staff__item-position">Registered Nurse</p>
        </div>
      </li>

      <li class="staff__item animate fadeInUp">
        <div class="staff__item-img">
          <img src="../../images/img-03.jpg" alt="Ilona Yusufov" width="350" height="300">
        </div>
        <div class="staff__item-about">
          <p class="staff__item-name">Marina Yelizarov

          </p>
          <p class="staff__item-position">Alternate Administrator/Intake<br>Coordinator (Pikesville office)
          </p>
        </div>
      </li>

      <li class="staff__item animate fadeInUp">
        <div class="staff__item-img">
          <img src="../../images/img-04.jpg" alt="Ilona Yusufov" width="350" height="300">
        </div>
        <div class="staff__item-about">
          <p class="staff__item-name">Hyun Sook Choi
          </p>
          <p class="staff__item-position">Intake Coordinator (Gaithersburg office)
          </p>
        </div>
      </li>

      </ul>
    </div>
    ${require('../parts/consult-form.html')}
  </main>
  ${require('../parts/footer.html')}

</body>

</html>
