<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>A+ Personal Homecare</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#1F3862">
  <meta name="msapplication-navbutton-color" content="#1F3862">
  <meta name="apple-mobile-web-app-status-bar-style" content="#1F3862">
</head>

<body>

  ${require('../parts/header.html')}
  <main class="main about-why">
    <div class="section section-main">
      <h1 class="section-main__title animate fadeInUp">
        Why a+ home care
      </h1>
    </div>
    <div class="section provide">
      <div class="container">
        <p class="provide__main-text animate fadeInUp">We provide personalized, compassionate, attentive care <span>for your loved one
          </span>…
          in&nbsp;their own home.
        </p>
        <p class="provide__text animate fadeInUp">A+ Personal Home Care is an independent home care agency owned by Salim, Inc., a
          family-owned company based in
          Pikesville and serving the central Maryland and Baltimore Washington metro areas.</p>
      </div>
      <div class="provide__bg"></div>

    </div>

    ${require('../parts/testimonials.html')}
    ${require('../parts/consult-form.html')}
  </main>
  ${require('../parts/footer.html')}

</body>

</html>
