<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>A+ Personal Homecare</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#1F3862">
  <meta name="msapplication-navbutton-color" content="#1F3862">
  <meta name="apple-mobile-web-app-status-bar-style" content="#1F3862">
</head>

<body>

  ${require('../parts/header.html')}
  <main class="main about-mission">
    <div class="section section-main">
      <h1 class="section-main__title animate fadeInUp">
        mission and vision
      </h1>
    </div>
    <div class="container">
      <div class="about-mission-img">
        <div class="about-mission-img__one animate fadeInUp">
          <picture>
            <source media="(min-width: 480px)" srcset="../../images/mis-01.jpg">
            <img src="../../images/mis-01m.jpg" alt="image">
          </picture>
        </div>
        <div class="about-mission-img__two animate fadeInUp">
          <img src="../../images/mis-02.jpg" alt="image">
        </div>
      </div>

      <div class="description">
        <div class="description__box mission animate fadeInUp">
          <p class="description__title">mission</p>
          <p class="description__text">To provide high-quality, compassionate home care that supports the physical and
            emotional wellbeing of our clients,
            empowering them to lead dignified and independent lives in the comfort of their own homes.</p>
        </div>
        <div class="description__box vision animate fadeInUp">
          <p class="description__title">vision</p>
          <p class="description__text">To be the best choice for home care in the Baltimore Washington area by
            continuing to support our clients’ wellbeing
            with compassion, hospitality, and respect, and continuing to grow our network of experienced home care
            professionals. To
            inspire individuals and families with our kindness, professionalism and care so that they can feel supported
            during
            challenging times in their lives.</p>
        </div>
      </div>
    </div>
    <div class="section values">
      <div class="container">
        <h2 class="values__title animate fadeInUp">values</h2>
        <p class="values__subtitle animate fadeInUp">We bring the <span>care</span> to home care.</p>
        <div class="values__inner">
          <div class="values__img">
            <img src="../../images/pic-care.svg" alt="values care" class="animate fadeInUp">
          </div>

          <div class="values__about values__about--compassion animate fadeInUp">
            <h3 class="values__about-title">C – Compassion</h3>
            <p class="values__about-text">Our caregivers serve you with passion and empathy. Our caregivers are happy
              to
              see you. Our caregivers consider and
              understand what your life experience is like and how you might be feeling. This <span>compassion</span>
              is
              integral to
              providing the
              best service. We are all human — and our caregivers bring equal parts skill and humanity to their roles.
            </p>
          </div>

          <div class="values__about values__about--action animate fadeInUp">
            <h3 class="values__about-title">A – Action</h3>
            <p class="values__about-text">We take <span>action</span> to assist our clients. Our role is not about
              sitting back. Our
              work is about stepping up. Doing. Helping.
              Supporting. Being steadfast. You can count on us for reliable, professional action in supporting
              healthier,
              morecomfortable, more independent lives for our clients.</p>
          </div>

          <div class="values__about values__about--respect animate fadeInUp">
            <h3 class="values__about-title">R – Respect</h3>
            <p class="values__about-text">Life is a journey. We are all at different stages. But one thing we can all
              have in common is respect for one another.
              We believe that respect is the foundation for a strong relationship and a positive outcome. Our caregivers
              serve you
              with <span>respect.</span> </p>
          </div>

          <div class="values__about values__about--exellence animate fadeInUp">
            <h3 class="values__about-title">E – Excellence</h3>
            <p class="values__about-text">We are driven to consistently achieve the highest standards of
              <span>excellence</span> with
              every client, and in every interaction.
            </p>
          </div>

        </div>
      </div>
    </div>
    ${require('../parts/consult-form.html')}
  </main>
  ${require('../parts/footer.html')}
</body>

</html>
