<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>A+ Personal Homecare</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#1F3862">
  <meta name="msapplication-navbutton-color" content="#1F3862">
  <meta name="apple-mobile-web-app-status-bar-style" content="#1F3862">
</head>

<body>
  ${require('../parts/header.html')}
  <main class="main article article-fill">
    <div class="section section-main">
      <h1 class="section-main__title">
        Last updates from Centers of Disease Control and Prevention
      </h1>
      <p class="section-main__text">
        Jul 17, 2021
      </p>
    </div>

    <div class="container">
      <div class="article-fiil-content">
        <div class="article-fiil-content__inner">
          <p class="article-fiil-content__text">How do I find a COVID-19 Vaccine?</p>
          <a class="article-fiil-content__link"
            href="javascript:void(0)">https://www.cdc.gov/coronavirus/2019-ncov/vaccines/How-Do-I-Get-a-COVID-19-Vaccine.html</a>

          <p class="article-fiil-content__text">CDC information for Healthcare Workers:</p>
          <a class="article-fiil-content__link"
            href="javascript:void(0)">https://www.cdc.gov/coronavirus/2019-nCoV/hcp/index.html</a>

          <p class="article-fiil-content__text">Additional COVID-19 Guidance for Caregivers of People Living with
            Dementia in Community Settings from CDC:</p>
          <a class="article-fiil-content__link"
            href="javascript:void(0)">https://www.cdc.gov/coronavirus/2019-ncov/need-extra-precautions/caregivers-dementia.html</a>


        </div>


      </div>

      <div class="article-news">
        <div class="article-news__inner">
          <div class="article-news__btn">
            <a href="javascript:void(0)" class="article-news__prev btn-back">Previous news</a>
            <a href="javascript:void(0)" class="article-news__next btn-next">Next news</a>
          </div>
          <div class="article-news__news">
            <a href="javascript:void(0)"> Interdum. Viverra aliquam tristique dignissim scelerisqu</a>
            <a href="javascript:void(0)">Interdum. Viverra aliquam tristique dignissim scelerisqu</a>
          </div>
        </div>
      </div>
      <div class="article-posts">
        <div class="article-posts__inner">
          <h2 class="article-posts__title">RECENT POSTS</h2>
          <a class="article-posts__back btn-back" href="javascript:void(0)">back to news</a>
          <ul class="article-posts__list">
            <li class="article-posts__item">
              <div class="post">
                <div class="post__img">
                  <img src="../../images/post.jpg" alt="image">
                </div>
                <div class="post__about">
                  <a class="post__title" href="javascript:void(0)">Pellentesque nec sem nisl interdum</a>
                  <span class="post__date">Jul 06, 2021</span>
                </div>
              </div>
            </li>
            <li class="article-posts__item">
              <div class="post">
                <div class="post__img">
                  <img src="../../images/post.jpg" alt="image">
                </div>
                <div class="post__about">
                  <a class="post__title" href="javascript:void(0)">Pellentesque nec sem nisl interdum</a>
                  <span class="post__date">Jul 06, 2021</span>
                </div>
              </div>
            </li>
            <li class="article-posts__item">
              <div class="post">
                <div class="post__img">
                  <img src="../../images/post.jpg" alt="image">
                </div>
                <div class="post__about">
                  <a class="post__title" href="javascript:void(0)">Pellentesque nec sem nisl interdum</a>
                  <span class="post__date">Jul 06, 2021</span>
                </div>
              </div>
            </li>


          </ul>
        </div>
      </div>
    </div>
  </main>
  ${require('../parts/footer.html')}
</body>

</html>
