<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>A+ Personal Homecare</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#1F3862">
  <meta name="msapplication-navbutton-color" content="#1F3862">
  <meta name="apple-mobile-web-app-status-bar-style" content="#1F3862">
</head>

<body>
  ${require('../parts/header.html')}
  <main class="main article">
    <div class="section section-main">
      <h1 class="section-main__title animate fadeInUp">
        Pellentesque nec sem nisl interdum. Viverra aliquam
      </h1>
      <p class="section-main__text animate fadeInUp">
        Jul 06, 2021
      </p>
    </div>

    <div class="container">
      <div class="article-content">
        <div class="article-content__inner">
          <p class="article-content__text animate fadeInUp">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus donec risus cras mi. Amet tortor sociis
            penatibus
            quam. Ultrices urna faucibus tristique in hendrerit semper mattis tortor. Varius elit, et sit adipiscing
            laoreet
            eros,
            ac. Mi convallis diam purus, iaculis in molestie sit augue. Quam quis amet eget laoreet commodo eget lorem.
            Aliquam enim
            magna sit elementum. Urna sagittis non habitasse scelerisque.
          </p>
          <p class="article-content__text animate fadeInUp">Purus vulputate ut mauris accumsan et nulla nulla sed. Posuere justo, ornare
            condimentum
            in elementum lacus. Mauris
            sapien egestas nunc amet adipiscing sit aliquam. Duis magna ultricies varius arcu, ac massa at eros. Mi
            tellus
            posuere
            amet nec, dignissim tincidunt magna.</p>
          <p class="article-content__text animate fadeInUp">Sollicitudin amet urna accumsan, et porta vivamus vitae. Cras sed nibh id
            ultrices in
            bibendum est. Posuere vivamus
            augue eu ut sagittis, lectus hac sed. Lorem felis sit ultricies elementum et tincidunt. Dui eget dignissim
            feugiat nulla
            consequat. Amet, sollicitudin laoreet molestie arcu. Cras lectus id viverra interdum.<br>
            Ornare adipiscing libero tempus, sed praesent. Aliquam porttitor nullam viverra nunc lorem. Nisl fames leo,
            arcu
            porttitor interdum feugiat convallis risus. Nisl nisl, eu phasellus tincidunt. Eleifend quisque eget eget
            nibh
            at
            nascetur tellus. Habitasse volutpat amet eu amet. Mattis fames eu at in egestas diam aliquam libero.</p>
          <p class="article-content__text animate fadeInUp">Purus vulputate ut mauris accumsan et nulla nulla sed. Posuere justo, ornare
            condimentum in elementum lacus. Mauris
            sapien egestas nunc amet adipiscing sit aliquam. Duis magna ultricies varius arcu, ac massa at eros. Mi
            tellus
            posuere
            amet nec, dignissim tincidunt magna. Nec nibh sollicitudin pretium auctor. Eleifend scelerisque cursus
            scelerisque elit.
            Fermentum, cursus tincidunt viverra arcu ornare elementum vulputate. Cras hac in proin tellus in
            sollicitudin
            purus sed
            ipsum. Dolor sit aliquet viverra volutpat aenean. Ullamcorper leo ultricies sapien neque, iaculis tortor
            donec
            et. Dolor
            urna, euismod arcu sed. In purus aenean risus sollicitudin vitae.</p>
          <p class="article-content__text animate fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus donec risus
            cras mi. Amet tortor sociis penatibus
            quam. Ultrices urna faucibus tristique in hendrerit semper mattis tortor. Varius elit, et sit adipiscing
            laoreet
            eros,
            ac. Mi convallis diam purus, iaculis in molestie sit augue. Quam quis amet eget laoreet commodo eget lorem.
            Aliquam enim
            magna sit elementum. Urna sagittis non habitasse scelerisque.</p>
          <p class="article-content__text animate fadeInUp">Dolor vitae, mattis scelerisque aliquet blandit tristique mauris scelerisque
            cras. Eget et condimentum in enim consequat
            interdum nunc lorem vitae. Egestas sed mauris neque eget molestie mollis nunc fermentum. Tincidunt arcu
            etiam
            amet
            vitae. Tellus mattis sit facilisi tellus tincidunt orci. Lorem nisi tellus pharetra non aliquam aliquet quis
            lorem ac.
            Diam faucibus quam risus, sed in. Adipiscing purus pellentesque risus proin. Et nunc, velit id nisl, nisl
            dignissim.
            Iaculis ac augue dictum posuere. Commodo ac vitae sagittis, lectus eu. Mi euismod vel morbi est elit mauris.
            Nulla massa
            tristique feugiat nunc aliquet morbi pulvinar mi magna.</p>
          <p class="article-content__text animate fadeInUp"></p>

          <h3 class="article-content__title animate fadeInUp">Posuere justo, ornare condimentum</h3>
          <p class="article-content__text animate fadeInUp">Sollicitudin amet urna accumsan, et porta vivamus vitae. Cras sed nibh id
            ultrices in
            bibendum est. Posuere vivamus
            augue eu ut sagittis, lectus hac sed. Lorem felis sit ultricies elementum et tincidunt. Dui eget dignissim
            feugiat nulla
            consequat. Amet, sollicitudin laoreet molestie arcu. Cras lectus id viverra interdum.<br>
            Ornare adipiscing libero tempus, sed praesent. Aliquam porttitor nullam viverra nunc lorem. Nisl fames leo,
            arcu
            porttitor interdum feugiat convallis risus. Nisl nisl, eu phasellus tincidunt. Eleifend quisque eget eget
            nibh
            at
            nascetur tellus. Habitasse volutpat amet eu amet. Mattis fames eu at in egestas diam aliquam libero.</p>
          <p class="article-content__text animate fadeInUp">Purus vulputate ut mauris accumsan et nulla nulla sed. Posuere justo, ornare
            condimentum in elementum lacus. Mauris
            sapien egestas nunc amet adipiscing sit aliquam. Duis magna ultricies varius arcu, ac massa at eros. Mi
            tellus
            posuere
            amet nec, dignissim tincidunt magna. Nec nibh sollicitudin pretium auctor. Eleifend scelerisque cursus
            scelerisque
            elit.
            Fermentum, cursus tincidunt viverra arcu ornare elementum vulputate. Cras hac in proin tellus in
            sollicitudin
            purus
            sed
            ipsum. Dolor sit aliquet viverra volutpat aenean. Ullamcorper leo ultricies sapien neque, iaculis tortor
            donec
            et.
            Dolor
            urna, euismod arcu sed. In purus aenean risus sollicitudin vitae.</p>
        </div>


      </div>

      <div class="article-news">
        <div class="article-news__inner">
          <div class="article-news__btn">
            <a href="javascript:void(0)" class="article-news__prev btn-back animate fadeInUp">Previous news</a>
            <a href="javascript:void(0)" class="article-news__next btn-next animate fadeInUp">Next news</a>
          </div>
          <div class="article-news__news">
            <a href="javascript:void(0)" class="animate fadeInUp"> Interdum. Viverra aliquam tristique dignissim scelerisqu</a>
            <a href="javascript:void(0)" class="animate fadeInUp">Interdum. Viverra aliquam tristique dignissim scelerisqu</a>
          </div>
        </div>
      </div>
      <div class="article-posts">
        <div class="article-posts__inner">
          <h2 class="article-posts__title animate fadeInUp">RECENT POSTS</h2>
          <a class="article-posts__back btn-back animate fadeInUp" href="javascript:void(0)">back to news</a>
          <ul class="article-posts__list">
            <li class="article-posts__item animate fadeInUp">
              <div class="post">
                <div class="post__img">
                  <img src="../../images/post.jpg" alt="image">
                </div>
                <div class="post__about">
                  <a class="post__title" href="javascript:void(0)">Pellentesque nec sem nisl interdum</a>
                  <span class="post__date">Jul 06, 2021</span>
                </div>
              </div>
            </li>
            <li class="article-posts__item animate fadeInUp">
              <div class="post">
                <div class="post__img">
                  <img src="../../images/post.jpg" alt="image">
                </div>
                <div class="post__about">
                  <a class="post__title" href="javascript:void(0)">Pellentesque nec sem nisl interdum</a>
                  <span class="post__date">Jul 06, 2021</span>
                </div>
              </div>
            </li>
            <li class="article-posts__item animate fadeInUp">
              <div class="post">
                <div class="post__img">
                  <img src="../../images/post.jpg" alt="image">
                </div>
                <div class="post__about">
                  <a class="post__title" href="javascript:void(0)">Pellentesque nec sem nisl interdum</a>
                  <span class="post__date">Jul 06, 2021</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    ${require('../parts/consult-form.html')}
  </main>
  ${require('../parts/footer.html')}
</body>

</html>
