<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>A+ Personal Homecare</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#1F3862">
  <meta name="msapplication-navbutton-color" content="#1F3862">
  <meta name="apple-mobile-web-app-status-bar-style" content="#1F3862">
</head>

<body>
  ${require('../parts/header.html')}
  <main class="main career-details">
    <div class="section section-main">
      <h1 class="section-main__title">
        Caregiver/Personal Assistant
      </h1>
      <p class="section-main__text">
        multiple locations: Baltimore County, Baltimore City, Carrol County, Montgomery County, Prince George’s County,
        Frederick County, Ann Arundel County
        <span>|&emsp;Full-time / Part-time</span>
      </p>

    </div>

    <div class="section details">
      <div class="container">
        <div class="details__wrapper">

          <h2 class="details__title">Job details</h2>

          <div class="details__inner">
            <div class="details__inner-in">
              <h3 class="details__title-in">Qualifications</h3>
              <ul class="details__list">
                <li class="details__item">
                  <p class="details__text">High school or equivalent</p>
                </li>
                <li class="details__item">
                  <p class="details__text">Caregiving: 1 year (Preferred)</p>
                </li>
                <li class="details__item">
                  <p class="details__text">Driver's License (Preferred)</p>
                </li>
                <li class="details__item">
                  <p class="details__text">CNA (Preferred)</p>
                </li>
                <li class="details__item">
                  <p class="details__text">US work authorization</p>
                </li>
              </ul>
            </div>
            <div class="details__inner-in">
              <h3 class="details__title-in">Job type</h3>
              <ul class="details__list">
                <li class="details__item">
                  <p class="details__text">Full-time</p>
                </li>
                <li class="details__item">
                  <p class="details__text">Part-time</p>
                </li>
              </ul>
            </div>
          </div>

          <h3 class="details__title-in description">Full Job Description</h3>

          <p class="details__text-great">Are you a Caregiver looking for an exciting opportunity?<br>
            Well, the time is now – come grow with us!</p>

          <p class="details__text mb">Salim Inc. A Plus Personal Home Care is looking for experienced Caregivers to
            provide
            service to its personal care
            services in client’s homes.<br>
            We offer competitive compensation, flexible scheduling, opportunity for growth, and a positive work
            environment.</p>

          <h4 class="details__title-list">Duties</h4>
          <ul class="details__list">
            <li class="details__item">
              <p class="details__text">Assists clients with Activities of Daily Living (ADLs) or Instrumental Activities
                of Daily Living (IADLs).</p>
            </li>
            <li class="details__item">
              <p class="details__text">Activities of Daily Living may include, but are not limited to, bathing and
                personal hygiene, assistance with dressing,
                eating, mobility, and toileting.</p>
            </li>
            <li class="details__item">
              <p class="details__text">Instrumental Activities of Daily Living may include, but are not limited to, meal
                preparation and planning, light
                housekeeping, errands, accompaniment to appointments, and assistance with communication such as the use
                of the
                telephone.</p>
            </li>
          </ul>

          <h4 class="details__title-list">Requirements:</h4>
          <ul class="details__list">
            <li class="details__item">
              <p class="details__text">1-2 years of caregiver experience</p>
            </li>
            <li class="details__item">
              <p class="details__text">CNA/CMT (Preferred)</p>
            </li>
            <li class="details__item">
              <p class="details__text">health certificate/physical examination and TB testing.</p>
            </li>
            <li class="details__item">
              <p class="details__text">CPR & First Aide certification from an approved training source.</p>
            </li>
            <li class="details__item">
              <p class="details__text">Clean criminal background screening.</p>
            </li>
            <li class="details__item">
              <p class="details__text">Your own Vehicle or Reliable transportation.</p>
            </li>
          </ul>

          <h4 class="details__title-list">Schedule</h4>
          <p class="details__text">Full time. Part time.</p>

          <h4 class="details__title-list">APPLY TODAY!</h4>
          <p class="details__text">Job Types: Full-time, Part-time</p>

          <h4 class="details__title-list">Benefits:</h4>
          <ul class="details__list">
            <li class="details__item">
              <p class="details__text">Flexible schedule</p>
            </li>
          </ul>

          <h4 class="details__title-list">Schedule:</h4>
          <ul class="details__list">
            <li class="details__item">
              <p class="details__text">Day shift</p>
            </li>
            <li class="details__item">
              <p class="details__text">Weekends</p>
            </li>
          </ul>

          <h4 class="details__title-list">Education:</h4>
          <ul class="details__list">
            <li class="details__item">
              <p class="details__text">High school or equivalent</p>
            </li>
          </ul>

          <h4 class="details__title-list">Experience:</h4>
          <ul class="details__list">
            <li class="details__item">
              <p class="details__text">Caregiving: 1 year (Preferred)</p>
            </li>
            <li class="details__item">
              <p class="details__text">License/Certification:</p>
            </li>
            <li class="details__item">
              <p class="details__text">Driver's License (Preferred)</p>
            </li>
            <li class="details__item">
              <p class="details__text">CNA (Preferred)</p>
            </li>
            <li class="details__item">
              <p class="details__text">CMT (Preferred)</p>
            </li>
          </ul>

          <h4 class="details__title-list">Work Location:</h4>
          <ul class="details__list">
            <li class="details__item">
              <p class="details__text">Multiple locations</p>
            </li>
          </ul>

          <h4 class="details__title-list">COVID-19 Precaution(s):</h4>
          <p class="details__text">Social distancing guidelines in place</p>

        </div>
        <a class="btn-back" href="javascript:void(0)">Back to Services</a>
      </div>
    </div>
  </main>




  ${require('../parts/footer.html')}
</body>

</html>
