<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>A+ Personal Homecare</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#1F3862">
  <meta name="msapplication-navbutton-color" content="#1F3862">
  <meta name="apple-mobile-web-app-status-bar-style" content="#1F3862">
</head>

<body>
  ${require('../parts/header.html')}
  <main class="main career">
    <div class="section section-main ">
      <h1 class="section-main__title">
        join our caregiver team
      </h1>
    </div>
    <div class="section vacancies">
      <div class="container">
        <div class="vacancies__wrapper">
          <h2 class="vacancies__title">You like to help people.
            We can make it happen.
          </h2>
          <p class="vacancies__text">We're looking for compassionate, caring professionals to join our team. Whether you
            are researching careers in
            home-based care or you are an experienced provider, we're glad you are looking at A+ Personale Home Care. We
            are a
            locally owned and independent home health/home care provider.</p>
        </div>
        <ul class="vacancies__list">
          <li class="vacancies__item">

            <div class="vacancy-item">
              <div class="vacancy-item__wrapper">
                <p class="vacancy-item__title">Registered Massage Therapist (RMT)</p>
                <div class="vacancy-item__inner">
                  <p class="vacancy-item__address">Pikesville, MD</p>
                  <p class="vacancy-item__time">Full time</p>
                </div>
              </div>
              <a class="vacancy-item__more" href="javascript:void(0)"><span>Learn more</span> <svg width="14"
                  height="20" viewBox="0 0 14 20" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M3.59939 0.479776L13.1194 9.99978L3.59939 19.5198L0.879395 16.5731L7.45273 9.99978L0.879395 3.42644L3.59939 0.479776Z" />
                </svg></a>
            </div>

          </li>
          <li class="vacancies__item">

            <div class="vacancy-item">
              <div class="vacancy-item__wrapper">
                <p class="vacancy-item__title">Registered Massage Therapist (RMT)</p>
                <div class="vacancy-item__inner">
                  <p class="vacancy-item__address">Pikesville, MD</p>
                  <p class="vacancy-item__time">Full time</p>
                </div>
              </div>
              <a class="vacancy-item__more" href="javascript:void(0)"><span>Learn more</span> <svg width="14"
                  height="20" viewBox="0 0 14 20" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M3.59939 0.479776L13.1194 9.99978L3.59939 19.5198L0.879395 16.5731L7.45273 9.99978L0.879395 3.42644L3.59939 0.479776Z" />
                </svg></a>
            </div>

          </li>
          <li class="vacancies__item">

            <div class="vacancy-item">
              <div class="vacancy-item__wrapper">
                <p class="vacancy-item__title">Registered Massage Therapist (RMT)</p>
                <div class="vacancy-item__inner">
                  <p class="vacancy-item__address">Pikesville, MD</p>
                  <p class="vacancy-item__time">Full time</p>
                </div>
              </div>
              <a class="vacancy-item__more" href="javascript:void(0)"><span>Learn more</span> <svg width="14"
                  height="20" viewBox="0 0 14 20" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M3.59939 0.479776L13.1194 9.99978L3.59939 19.5198L0.879395 16.5731L7.45273 9.99978L0.879395 3.42644L3.59939 0.479776Z" />
                </svg></a>
            </div>

          </li>
          <li class="vacancies__item">

            <div class="vacancy-item">
              <div class="vacancy-item__wrapper">
                <p class="vacancy-item__title">Registered Massage Therapist (RMT)</p>
                <div class="vacancy-item__inner">
                  <p class="vacancy-item__address">Pikesville, MD</p>
                  <p class="vacancy-item__time">Full time</p>
                </div>
              </div>
              <a class="vacancy-item__more" href="javascript:void(0)"><span>Learn more</span> <svg width="14"
                  height="20" viewBox="0 0 14 20" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M3.59939 0.479776L13.1194 9.99978L3.59939 19.5198L0.879395 16.5731L7.45273 9.99978L0.879395 3.42644L3.59939 0.479776Z" />
                </svg></a>
            </div>

          </li>
          <li class="vacancies__item">

            <div class="vacancy-item">
              <div class="vacancy-item__wrapper">
                <p class="vacancy-item__title">Registered Massage Therapist (RMT)</p>
                <div class="vacancy-item__inner">
                  <p class="vacancy-item__address">Pikesville, MD</p>
                  <p class="vacancy-item__time">Full time</p>
                </div>
              </div>
              <a class="vacancy-item__more" href="javascript:void(0)"><span>Learn more</span> <svg width="14"
                  height="20" viewBox="0 0 14 20" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M3.59939 0.479776L13.1194 9.99978L3.59939 19.5198L0.879395 16.5731L7.45273 9.99978L0.879395 3.42644L3.59939 0.479776Z" />
                </svg></a>
            </div>

          </li>
        </ul>
        <div class="attention">
          <p class="attention__text">If you don’t see a position you are interested in, apply now to be considered for
            future positions.</p>
        </div>
      </div>
    </div>

  </main>




  ${require('../parts/footer.html')}
</body>

</html>
