<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>A+ Personal Homecare</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#1F3862">
    <meta name="msapplication-navbutton-color" content="#1F3862">
    <meta name="apple-mobile-web-app-status-bar-style" content="#1F3862">
</head>
<body>

${require('../parts/header.html')}
<main class="main">
    <div class="section main-section">
        <div class="container">
            <div class="main-block">
                <div class="main-title">
                    <span class="typed-main"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="section" style="height: 100vh;">
    </div>
    <div class="section" style="height: 100vh;">
    </div>
    <div class="section" style="height: 100vh;">
    </div>
</main>
${require('../parts/footer.html')}

<div class="overlay"></div>
<div class="mfp-hide"></div>

</body>
</html>