<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>A+ Personal Homecare</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#1F3862">
  <meta name="msapplication-navbutton-color" content="#1F3862">
  <meta name="apple-mobile-web-app-status-bar-style" content="#1F3862">
</head>

<body>

  ${require('../parts/header.html')}
  <main class="main news">
    <div class="section section-main">
      <h1 class="section-main__title animate fadeInUp">
        News
      </h1>
    </div>

    <div class="staff">
      <ul class="staff__list">
        <li class="staff__item animate fadeInUp">
          <div class="staff__item-img">
            <img src="../../images/news01.jpg" alt="Ilona Yusufov" width="350" height="300">
          </div>
          <div class="staff__item-about">
            <p class="staff__item-title">Last updates form Centers of Disease Control and Prevention</p>
            <span class="staff__date">Jul 17, 2021</span>
            <p class="staff__text">Molestie sed quis lobortis lobortis diam in nulla tincidunt. At platea libero sodales
              tortor malesuada interdum. Porta
              neque, pellentesque neque vel sollicitudin sed rhoncus sagittis. Suscipit dictum sed vel faucibus
              aliquet...</p>
            <a href="javascript:void(0)" class="staff__more"><span>read more</span>
              <svg width="14" height="20" viewBox="0 0 14 20" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M3.59939 0.479776L13.1194 9.99978L3.59939 19.5198L0.879395 16.5731L7.45273 9.99978L0.879395 3.42644L3.59939 0.479776Z" />
              </svg>
            </a>
          </div>
        </li>
        <li class="staff__item animate fadeInUp">
          <div class="staff__item-img">
            <img src="../../images/news02.jpg" alt="Ilona Yusufov" width="350" height="300">
          </div>
          <div class="staff__item-about">
            <p class="staff__item-title">Last updates form Centers of Disease Control and Prevention</p>
            <span class="staff__date">Jul 17, 2021</span>
            <p class="staff__text">Molestie sed quis lobortis lobortis diam in nulla tincidunt. At platea libero sodales
              tortor malesuada interdum. Porta
              neque, pellentesque neque vel sollicitudin sed rhoncus sagittis. Suscipit dictum sed vel faucibus
              aliquet...</p>
            <a href="javascript:void(0)" class="staff__more"><span>read more</span>
              <svg width="14" height="20" viewBox="0 0 14 20" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M3.59939 0.479776L13.1194 9.99978L3.59939 19.5198L0.879395 16.5731L7.45273 9.99978L0.879395 3.42644L3.59939 0.479776Z" />
              </svg>
            </a>
          </div>
        </li>
        <li class="staff__item animate fadeInUp">
          <div class="staff__item-img">
            <img src="../../images/news03.jpg" alt="Ilona Yusufov" width="350" height="300">
          </div>
          <div class="staff__item-about">
            <p class="staff__item-title">Last updates form Centers of Disease Control and Prevention</p>
            <span class="staff__date">Jul 17, 2021</span>
            <p class="staff__text">Molestie sed quis lobortis lobortis diam in nulla tincidunt. At platea libero sodales
              tortor malesuada interdum. Porta
              neque, pellentesque neque vel sollicitudin sed rhoncus sagittis. Suscipit dictum sed vel faucibus
              aliquet...</p>
            <a href="javascript:void(0)" class="staff__more"><span>read more</span>
              <svg width="14" height="20" viewBox="0 0 14 20" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M3.59939 0.479776L13.1194 9.99978L3.59939 19.5198L0.879395 16.5731L7.45273 9.99978L0.879395 3.42644L3.59939 0.479776Z" />
              </svg>
            </a>
          </div>
        </li>
        <li class="staff__item animate fadeInUp">
          <div class="staff__item-img">
            <img src="../../images/news04.jpg" alt="Ilona Yusufov" width="350" height="300">
          </div>
          <div class="staff__item-about">
            <p class="staff__item-title">Last updates form Centers of Disease Control and Prevention</p>
            <span class="staff__date">Jul 17, 2021</span>
            <p class="staff__text">Molestie sed quis lobortis lobortis diam in nulla tincidunt. At platea libero sodales
              tortor malesuada interdum. Porta
              neque, pellentesque neque vel sollicitudin sed rhoncus sagittis. Suscipit dictum sed vel faucibus
              aliquet...</p>
            <a href="javascript:void(0)" class="staff__more"><span>read more</span>
              <svg width="14" height="20" viewBox="0 0 14 20" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M3.59939 0.479776L13.1194 9.99978L3.59939 19.5198L0.879395 16.5731L7.45273 9.99978L0.879395 3.42644L3.59939 0.479776Z" />
              </svg>
            </a>
          </div>
        </li>
        <li class="staff__item animate fadeInUp">
          <div class="staff__item-img">
            <img src="../../images/news05.jpg" alt="Ilona Yusufov" width="350" height="300">
          </div>
          <div class="staff__item-about">
            <p class="staff__item-title">Last updates form Centers of Disease Control and Prevention</p>
            <span class="staff__date">Jul 17, 2021</span>
            <p class="staff__text">Molestie sed quis lobortis lobortis diam in nulla tincidunt. At platea libero sodales
              tortor malesuada interdum. Porta
              neque, pellentesque neque vel sollicitudin sed rhoncus sagittis. Suscipit dictum sed vel faucibus
              aliquet...</p>
            <a href="javascript:void(0)" class="staff__more"><span>read more</span>
              <svg width="14" height="20" viewBox="0 0 14 20" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M3.59939 0.479776L13.1194 9.99978L3.59939 19.5198L0.879395 16.5731L7.45273 9.99978L0.879395 3.42644L3.59939 0.479776Z" />
              </svg>
            </a>
          </div>
        </li>
      </ul>
      <div class="pagination animate fadeInUp">
        <ul>
          <li><a class="prev disabled" href="javascript:void(0)">&#60;&#60;</a></li>
          <li class="current"><span>1</span></li>
          <li><a href="javascript:void(0)">2</a></li>
          <li><a href="javascript:void(0)">3</a></li>
          <li><a href="javascript:void(0)">4</a></li>
          <li class="ellipsis"><a href="javascript:void(0)">...</a></li>
          <li><a href="javascript:void(0)">12</a></li>
          <li><a class="next" href="javascript:void(0)">&#62;&#62;</a></li>
        </ul>
      </div>
    </div>
    ${require('../parts/consult-form.html')}
  </main>
  ${require('../parts/footer.html')}

  <div class="overlay"></div>
  <div class="mfp-hide"></div>

</body>

</html>
