<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>A+ Personal Homecare</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#1F3862">
  <meta name="msapplication-navbutton-color" content="#1F3862">
  <meta name="apple-mobile-web-app-status-bar-style" content="#1F3862">
</head>

<body>
  ${require('../parts/header.html')}

  <main class="main services">

    <div class="section section-main">
      <h1 class="section-main__title">
        Services
      </h1>
    </div>

    <div class="section uniqueness">
      <div class="container">
        <p class="uniqueness__title">Home care services: Customized for your loved one.</p>
      </div>
      <div class="uniqueness__bg"></div>
      <div class="container">
        <div class="uniqueness__inner">
          <p class="uniqueness__title-in">All of our clients are unique</p>
          <p class="uniqueness__text">Every person has their own individualized needs and preferences, and we pride
            ourselves in customizing accordingly.</p>
          <p class="uniqueness__text-more">At A+ Personal Home Care, one-size does not fit all.</p>
          <p class="uniqueness__generally">We are passionate about providing care that is truly personalized and
            beneficial.</p>
        </div>
      </div>
    </div>

    <div class="section advantages">
      <div class="container">

        <h2 class="advantages__title">This may include:</h2>
        <ul class="advantages__list">
          <li class="advantages__item">
            <div class="advantages-item palliative">
              <h3 class="advantages-item__title">Palliative, Alzheimer's, Dementia,<br> & Hospice Support</h3>
              <ul class="advantages-item__inner">
                <li class="advantages-item__text"><span>Encouraging Mental Activity</span></li>
                <li class="advantages-item__text"><span>Minimizing Behavioral Symptoms</span></li>
                <li class="advantages-item__text"><span>Enhancing Safety & Comfort</span></li>
                <li class="advantages-item__text"><span>Respite for Family Caregivers</span></li>
                <li class="advantages-item__text"><span>Emotional Support to the Family
                    Supplemental Care
                    Services</span></li>
              </ul>
              <a href="#" class="advantages-item__link">Learn more</a>
            </div>
          </li>
          <li class="advantages__item">
            <div class="advantages-item personal">
              <h3 class="advantages-item__title">Personal Care Services & Companionship</h3>
              <ul class="advantages-item__inner">
                <li class="advantages-item__text"><span>Help with Feeding & Eating</span></li>
                <li class="advantages-item__text"><span>Bathing, Dressing</span></li>
                <li class="advantages-item__text"><span>Hygiene Assistance Toileting & Incontinence Care</span></li>
                <li class="advantages-item__text"><span>Light Housekeeping</span></li>
                <li class="advantages-item__text"><span>Laundry and change of bed linens</span></li>


                <li class="advantages-item__text"><span>Grocery Shopping & Errands</span></li>
                <li class="advantages-item__text"><span>Socializing & Outings</span></li>
                <li class="advantages-item__text"><span>Mobility Assistance</span></li>
                <li class="advantages-item__text"><span>Transportation & Errands</span></li>
                <li class="advantages-item__text"><span>Overnight Supervision & Live-In 24/7 Care</span></li>
              </ul>
              <a href="#" class="advantages-item__link">Learn more</a>

            </div>
          </li>
          <li class="advantages__item">
            <div class="advantages-item health">
              <h3 class="advantages-item__title">Health & Wellness Services</h3>
              <ul class="advantages-item__inner">
                <li class="advantages-item__text"><span>Monitoring Health & Changing Needs</span></li>
                <li class="advantages-item__text"><span>Medication Reminders/Administration</span></li>
                <li class="advantages-item__text"><span>Nutrition Assessment</span></li>
                <li class="advantages-item__text"><span>Meal Planning and Preparation</span></li>
                <li class="advantages-item__text"><span>Safety & Fall Prevention</span></li>
                <li class="advantages-item__text"><span>Self-Care Education & Referrals</span></li>
                <li class="advantages-item__text"><span>Appointment Assistance</span></li>
              </ul>
              <a href="#" class="advantages-item__link">Learn more</a>

            </div>
          </li>
          <li class="advantages__item">
            <div class="advantages-item skilled">
              <h3 class="advantages-item__title">Skilled Nursing Services</h3>
              <ul class="advantages-item__inner">
                <li class="advantages-item__text"><span>Medication Administration</span></li>
                <li class="advantages-item__text"><span>Wound Care Wound Care</span></li>
                <li class="advantages-item__text"><span>Injections</span></li>
                <li class="advantages-item__text"><span>Ostomy Care</span></li>
              </ul>
              <a href="#" class="advantages-item__link">Learn more</a>
            </div>
          </li>
          <li class="advantages__item">
            <div class="advantages-item transitional">
              <h3 class="advantages-item__title">Transitional Care</h3>
              <ul class="advantages-item__inner">
                <li class="advantages-item__text"><span>Dressing Changes & Wound Care</span></li>
                <li class="advantages-item__text"><span>Assistance with Injury & Illness Recovery</span></li>
                <li class="advantages-item__text"><span>Prescription Pick-Up</span></li>
                <li class="advantages-item__text"><span>Accompaniment to Appointments and Incidental
                    Transportation</span></li>
                <li class="advantages-item__text"><span>Hospital Discharge Assistance</span></li>
              </ul>
              <a href="#" class="advantages-item__link">Learn more</a>
            </div>
          </li>
          <li class="advantages__item">
            <div class="advantages-item assisted">
              <h3 class="advantages-item__title">Assisted Living & Nursing Home Care</h3>
              <ul class="advantages-item__inner">
                <li class="advantages-item__text"><span>Companion Care</span></li>
                <li class="advantages-item__text"><span>Assisting residents with activities of daily living including
                    bathing, dressing, grooming, toileting, etc.</span></li>
              </ul>
              <a href="#" class="advantages-item__link">Learn more</a>
            </div>
          </li>
        </ul>
        <div class="advantages__care">
          <p class="advantages__care-plan">Whether you need just one hour, or <span>around-the-clock</span> care,
            A+
            Personal
            Home
            Care
            can help!</p>
          <p class="advantages__care-adaptive">We tailor our services to suit your needs and preferences, and you may
            modify your care plan at any time.</p>
        </div>
      </div>
    </div>

    <div class="section testimonials">

      <div class="testimonials__inner">
        <small class="testimonials__subtitle">What people say about us</small>
        <h2 class="testimonials__title">Testimonials</h2>

        <!-- slider -->
        <div class="testimonials__slider slick-slider"
          data-slick='{"slidesToShow": 3, "infinite": false, "initialSlide": 2, "slidesToScroll": 1, "arrows": true, "dots": false, "centerMode":false, "variableWidth": false, "responsive":[{"breakpoint":767,"settings":{"variableWidth": true, "centerMode":true}}]}'>


          <div class="testimonials__slide">
            <p class="testimonials__slide-name">Alice walkers</p>
            <div class="testimonials__slide-rating slide-rating">
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item"></span>
            </div>
            <p class="testimonials__slide-text">
              The service is very good. People are very polite. Customer service is at an excellent level. The
              benefits are very good.
            </p>
          </div>
          <div class="testimonials__slide">
            <p class="testimonials__slide-name">Alice walkers</p>
            <div class="testimonials__slide-rating slide-rating">
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item"></span>
            </div>
            <p class="testimonials__slide-text">
              The service is very good. People are very polite. Customer service is at an excellent level. The
              benefits are very good.
            </p>
          </div>
          <div class="testimonials__slide">
            <p class="testimonials__slide-name">Alice walkers</p>
            <div class="testimonials__slide-rating slide-rating">
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item"></span>
            </div>
            <p class="testimonials__slide-text">
              The service is very good. People are very polite. Customer service is at an excellent level. The
              benefits are very good.
            </p>
          </div>
          <div class="testimonials__slide">
            <p class="testimonials__slide-name">Alice walkers</p>
            <div class="testimonials__slide-rating slide-rating">
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item"></span>
            </div>
            <p class="testimonials__slide-text">
              The service is very good. People are very polite. Customer service is at an excellent level. The
              benefits are very good.
            </p>
          </div>
          <div class="testimonials__slide">
            <p class="testimonials__slide-name">Alice walkers</p>
            <div class="testimonials__slide-rating slide-rating">
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item"></span>
            </div>
            <p class="testimonials__slide-text">
              The service is very good. People are very polite. Customer service is at an excellent level. The
              benefits are very good.
            </p>
          </div>
          <div class="testimonials__slide">
            <p class="testimonials__slide-name">Alice walkers</p>
            <div class="testimonials__slide-rating slide-rating">
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item"></span>
            </div>
            <p class="testimonials__slide-text">
              The service is very good. People are very polite. Customer service is at an excellent level. The
              benefits are very good.
            </p>
          </div>
          <div class="testimonials__slide">
            <p class="testimonials__slide-name">Alice walkers</p>
            <div class="testimonials__slide-rating slide-rating">
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item"></span>
            </div>
            <p class="testimonials__slide-text">
              The service is very good. People are very polite. Customer service is at an excellent level. The
              benefits are very good.
            </p>
          </div>
          <div class="testimonials__slide">
            <p class="testimonials__slide-name">Alice walkers</p>
            <div class="testimonials__slide-rating slide-rating">
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item"></span>
            </div>
            <p class="testimonials__slide-text">
              The service is very good. People are very polite. Customer service is at an excellent level. The
              benefits are very good.
            </p>
          </div>
          <div class="testimonials__slide">
            <p class="testimonials__slide-name">Alice walkers</p>
            <div class="testimonials__slide-rating slide-rating">
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item"></span>
            </div>
            <p class="testimonials__slide-text">
              The service is very good. People are very polite. Customer service is at an excellent level. The
              benefits are very good.
            </p>
          </div>
          <div class="testimonials__slide">
            <p class="testimonials__slide-name">Alice walkers</p>
            <div class="testimonials__slide-rating slide-rating">
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item"></span>
            </div>
            <p class="testimonials__slide-text">
              The service is very good. People are very polite. Customer service is at an excellent level. The
              benefits are very good.
            </p>
          </div>
          <div class="testimonials__slide">
            <p class="testimonials__slide-name">Alice walkers</p>
            <div class="testimonials__slide-rating slide-rating">
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item"></span>
            </div>
            <p class="testimonials__slide-text">
              The service is very good. People are very polite. Customer service is at an excellent level. The
              benefits are very good.
            </p>
          </div>
          <div class="testimonials__slide">
            <p class="testimonials__slide-name">Alice walkers</p>
            <div class="testimonials__slide-rating slide-rating">
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item active"></span>
              <span class="slide-rating__item"></span>
            </div>
            <p class="testimonials__slide-text">
              The service is very good. People are very polite. Customer service is at an excellent level. The
              benefits are very good.
            </p>
          </div>
        </div>

      </div>


    </div>

  </main>


  ${require('../parts/footer.html')}
</body>

</html>
