<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>A+ Personal Homecare</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#1F3862">
  <meta name="msapplication-navbutton-color" content="#1F3862">
  <meta name="apple-mobile-web-app-status-bar-style" content="#1F3862">
</head>

<body>
  ${require('../parts/header.html')}
  <main class="main services-health">
    <div class="section section-main ">
      <h1 class="section-main__title">
        Health & Wellness Services
      </h1>
      <a href="javascript:void(0)" class="section-main__back">back to Services</a>
    </div>
    <div class="container">
      <div class="content">
        <p class="content__text">Our objective is to keep your loved one as healthy and well as possible. We prioritize
          everything that will help them do
          so.</p>

        <ul class="content__list">
          <li class="content__item">
            <p class="content__text">
              <span>Monitoring Health & Changing Needs</span>— As things change, we keep a watchful eye and stay in
              regular communication with you so that your loved one’s needs can
              be quickly addressed as they evolve. This includes visits every 3-4 months from our Registered Nurses
              (RNs) who
              supervise, observe and evaluate your loved one’s ongoing care. Our RNs also directly support patients,
              their caregivers
              and their family members in assuring the best care possible.
            </p>
          </li>

          <li class="content__item">
            <p class="content__text">
              <span>Medication Reminders/Administration</span>— We can help you determine the nutritious foods your
              loved one needs for optimum health.
            </p>
          </li>

          <li class="content__item">
            <p class="content__text">
              <span>Nutrition Assessment</span>— Our caregivers will plan and prepare your loved one’s meals to adhere
              to medical recommendations and your preferences.
            </p>
          </li>

          <li class="content__item">
            <p class="content__text">
              <span>Meal Planning and Preparation</span>— Having a caregiver present allows your loved one to move
              safely throughout their home with support as needed.
            </p>
          </li>

          <li class="content__item">
            <p class="content__text">
              <span>Safety & Fall Prevention</span>— Having a caregiver present allows your loved one to move safely
              throughout their home with support as needed.
            </p>
          </li>

          <li class="content__item">
            <p class="content__text">
              <span>Self-Care Education & Referrals</span>— Our caregivers are invested in helping your loved one learn
              to take better care of themselves, and also letting you
              know if there’s an opportunity for better care through the referral of another professional.
            </p>
          </li>

          <li class="content__item">
            <p class="content__text">
              <span>Appointment Assistance</span>— For any and all appointments, our caregivers can serve as your loved
              one’s go-to support system.

            </p>
          </li>


        </ul>
        <a class="content__back btn-back" href="javascript:void(0)">Back to Services</a>
      </div>
    </div>

  </main>




  ${require('../parts/footer.html')}
</body>

</html>
