<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>A+ Personal Homecare</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#1F3862">
  <meta name="msapplication-navbutton-color" content="#1F3862">
  <meta name="apple-mobile-web-app-status-bar-style" content="#1F3862">
</head>

<body>
  ${require('../parts/header.html')}
  <main class="main services-palliative">
    <div class="section section-main ">
      <h1 class="section-main__title">
        Palliative, Alzheimer's, Dementia, & Hospice Support
      </h1>
      <a href="javascript:void(0)" class="section-main__back "><svg width="14" height="20" viewBox="0 0 14 20"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M3.59939 0.479776L13.1194 9.99978L3.59939 19.5198L0.879395 16.5731L7.45273 9.99978L0.879395 3.42644L3.59939 0.479776Z" />
        </svg><span>back to Services</span> </a>
    </div>
    <div class="container">
      <div class="content">
        <p class="content__text">We work to help your loved one continue to function independently with support, keeping
          them
          safe, helping them avoid
          stress, focusing on their strengths, and keeping the lines of communication open so we can understand what
          your loved
          one needs at all times and ensure they feel comfortable receiving help.</p>

        <ul class="content__list">
          <li class="content__item">
            <p class="content__text">
              <span>Encouraging Mental Activity</span> — We help your loved one keep appointments, plan things, remember
              words and
              names, and
              engage in positive mental activity through things like conversation, interactions and games.
            </p>
          </li>

          <li class="content__item">
            <p class="content__text">
              <span>Minimizing Behavioral Symptoms </span>— Person-centered care and communication (getting to know and
              understand your loved one and their preferences), sensory
              stimulation (like a hand massage) and listening to music are three evidence-based therapies we use to help
              reduce
              agitation and other challenging behaviors for people with dementia. Our caregivers actively work to read
              your loved
              one’s body language, create comfortable routines, and reduce stress in their daily life.
            </p>
          </li>

          <li class="content__item">
            <p class="content__text">
              <span>Enhancing Safety & Comfort </span>— Your loved one’s safety and comfort is our top priority.
            </p>
          </li>
          <li class="content__item">
            <p class="content__text">
              <span>Respite for Family Caregivers </span>— When you’re caring for a loved one, it’s also essential that
              you get rest so that you can continue to bring your best
              to your loved one. We can help ensure your loved one is well-cared-for while you take a much-deserved
              break.
            </p>
          </li>
          <li class="content__item">
            <p class="content__text">
              <span>Emotional Support to the Family </span>— At A+ Home Care, we understand that this is a difficult
              time for our clients and their families! We aren’t just
              invested in providing excellent care to your loved one; we also want to be there for you with a positive
              attitude and
              the emotional support that will help you keep moving forward.
            </p>
          </li>
          <li class="content__item">
            <p class="content__text">
              <span>Supplemental Care Services </span>— Whatever your loved one needs, we can help.
            </p>
          </li>
        </ul>
        <a class="content__back btn-back" href="javascript:void(0)">Back to Services</a>
      </div>
    </div>

  </main>




  ${require('../parts/footer.html')}
</body>

</html>
