<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>A+ Personal Homecare</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#1F3862">
  <meta name="msapplication-navbutton-color" content="#1F3862">
  <meta name="apple-mobile-web-app-status-bar-style" content="#1F3862">
</head>

<body>
  ${require('../parts/header.html')}
  <main class="main services-skilled-nursing">
    <div class="section section-main">
      <h1 class="section-main__title">
        Skilled Nursing Services
      </h1>
      <a href="javascript:void(0)" class="section-main__back">back to Services</a>
    </div>
    <div class="container">
      <div class="content">
        <p class="content__text">At A+ Home Care, our CNAs, CMTs, LPN, and RN can provide the skilled nursing care that
          meets their changing needs.</p>

        <ul class="content__list">
          <li class="content__item">
            <p class="content__text">
              <span>Medication Administration </span>— On-time medication administration to ensure your loved one is
              receiving all prescribed medicine to aid their health.
            </p>
          </li>

          <li class="content__item">
            <p class="content__text">
              <span>Wound Care </span>— Attentive wound care is provided to aid healing, reduce discomfort and prevent
              infection.
            </p>
          </li>

          <li class="content__item">
            <p class="content__text">
              <span>Injections </span>— Our skilled nurses will manage your loved one’s injections with attentiveness
              and compassion.
            </p>
          </li>

          <li class="content__item">
            <p class="content__text">
              <span>Ostomy Care </span>— Professional and hygienic care for your loved one.
            </p>
          </li>


        </ul>
        <a class="content__back btn-back" href="javascript:void(0)">Back to Services</a>
      </div>
    </div>

  </main>




  ${require('../parts/footer.html')}
</body>

</html>
