<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>A+ Personal Homecare</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#1F3862">
  <meta name="msapplication-navbutton-color" content="#1F3862">
  <meta name="apple-mobile-web-app-status-bar-style" content="#1F3862">
</head>

<body>
  ${require('../parts/header.html')}
  <main class="main services-transitional">
    <div class="section section-main ">
      <h1 class="section-main__title">
        Transitional Care
      </h1>
      <a href="javascript:void(0)" class="section-main__back">back to Services</a>
    </div>
    <div class="container">
      <div class="content">
        <p class="content__text">If one thing is true in life it’s that things are always changing. At A+ Home Care, we
          will be there to support you and
          your loved one through all of the transitions that may come along.</p>

        <ul class="content__list">
          <li class="content__item">
            <p class="content__text">
              <span>Dressing Changes & Wound Care Assistance </span>— You can have peace-of-mind knowing we’ll keep your
              loved one’s wounds clean and cared for so they can heal!
            </p>
          </li>

          <li class="content__item">
            <p class="content__text">
              <span>Injury & Illness Recovery </span>— Getting better doesn’t just require all of a person’s physical
              needs being met, but their emotional needs too. Our
              caregivers bring smiles and compassion which speed the recovery process.
            </p>
          </li>

          <li class="content__item">
            <p class="content__text">
              <span>Prescription Pick-Up </span>— If they need it, we’ll pick it up!
            </p>
          </li>

          <li class="content__item">
            <p class="content__text">
              <span>Accompaniment to Appointments Incidental Transportation </span>— We will get your loved one to their
              appointments on time and provide the support they need.
            </p>
          </li>

          <li class="content__item">
            <p class="content__text">
              <span>Hospital Discharge Assistance </span>— With comfort, health and safety as the top priorities, our
              caregivers can help your loved one recover after a hospital
              stay and reduce the risk of rehospitalization.
            </p>
          </li>


        </ul>
        <a class="content__back btn-back" href="javascript:void(0)">Back to Services</a>
      </div>
    </div>

  </main>




  ${require('../parts/footer.html')}
</body>

</html>
