<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>A+ Personal Homecare</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#1F3862">
  <meta name="msapplication-navbutton-color" content="#1F3862">
  <meta name="apple-mobile-web-app-status-bar-style" content="#1F3862">
</head>

<body>
  ${require('../parts/header.html')}
  <main class="main services-personal">
    <div class="section section-main ">
      <h1 class="section-main__title">
        Personal Care Services & Companionship
      </h1>
      <a href="javascript:void(0)" class="section-main__back "><svg width="14" height="20" viewBox="0 0 14 20"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M3.59939 0.479776L13.1194 9.99978L3.59939 19.5198L0.879395 16.5731L7.45273 9.99978L0.879395 3.42644L3.59939 0.479776Z" />
        </svg><span>back to Services</span> </a>
    </div>
    <div class="container">
      <div class="content">
        <p class="content__text">Our caregivers provide support and companionship for all of the ordinary things that
          happen for your loved one
          throughout the day — with extraordinary compassion and skill.</p>

        <ul class="content__list">
          <li class="content__item">
            <p class="content__text">
              <span>Help with Feeding & Eating </span>— Our caregivers will help get your loved one ready for the day so
              that they look and feel their best.
            </p>
          </li>

          <li class="content__item">
            <p class="content__text">
              <span>Bathing & Dressing </span>— From reminders to assistance, we provide the support that is needed.
            </p>
          </li>

          <li class="content__item">
            <p class="content__text">
              <span>Hygiene Assistance Toileting & Incontinence Care </span>— A neat and tidy home helps us all feel
              better! Our caregivers help your loved one keep their home clean and organized.
            </p>
          </li>

          <li class="content__item">
            <p class="content__text">
              <span>Light Housekeeping </span>— A neat and tidy home helps us all feel better! Our caregivers help your
              loved one keep their home clean and organized.
            </p>
          </li>

          <li class="content__item">
            <p class="content__text">
              <span>Laundry and change of bed linens </span>— Getting into a clean bed helps all of us sleep better! Our
              caregivers will ensure your loved one has this handled for
              them.
            </p>
          </li>

          <li class="content__item">
            <p class="content__text">
              <span>Grocery Shopping </span>— Our caregivers will help your loved ones acquire and put away their
              groceries.
            </p>
          </li>

          <li class="content__item">
            <p class="content__text">
              <span>Socializing & Outings </span>— From visits with their friends and family to social outings, we can
              provide the assistance your loved one needs.
            </p>
          </li>

          <li class="content__item">
            <p class="content__text">
              <span>Mobility Assistance </span>— Whether your loved one uses a cane, walker or wheelchair, we can
              provide the helping hand they need to get around
              safely and independently.
            </p>
          </li>

          <li class="content__item">
            <p class="content__text">
              <span>Transportation & Errands </span>— Our caregivers will escort your loved one to doctors’
              appointments, banks, the pharmacy, and medical supply stores.
            </p>
          </li>

          <li class="content__item">
            <p class="content__text">
              <span>Overnight Supervision & Live-In 24/7 Care </span>— At A+ Home Care, we customize our schedule to the
              needs of your loved one. Live-in care helps your loved one remain
              comfortably and safely at home and lets them create a strong bond with their caregiver who they will see
              week after
              week.
            </p>
          </li>


        </ul>
        <a class="content__back btn-back" href="javascript:void(0)">Back to Services</a>
      </div>
    </div>

  </main>




  ${require('../parts/footer.html')}
</body>

</html>
