<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>A+ Personal Homecare</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#1F3862">
  <meta name="msapplication-navbutton-color" content="#1F3862">
  <meta name="apple-mobile-web-app-status-bar-style" content="#1F3862">
</head>

<body>
  ${require('../parts/header.html')}
  <main class="main services-assisted">
    <div class="section section-main ">
      <h1 class="section-main__title">
        Assisted Living & Nursing&nbsp;Home&nbsp;Care
      </h1>
      <a href="javascript:void(0)" class="section-main__back btn-back">back to Services</a>
    </div>
    <div class="container">
      <div class="content">
        <p class="content__text">Even the best nursing homes don’t have enough staff members to provide the truly
          personalized care we want for our loved
          ones. That’s why many of our clients choose to hire us to visit with and care for their loved ones in their
          care
          facility, ensuring that extra-special level of care for that extra-special person.</p>

        <ul class="content__list">
          <li class="content__item">
            <p class="content__text">
              <span>Companion Care </span>— Sometimes this means playing cards, talking, lending an ear, listening to
              music or doing crafts together. We find that
              simply being a presence in our clients lives gives them joy, contentment and something to look forward to.
            </p>
          </li>
          <li class="content__item">
            <p class="content__text">
              <span>Assisting residents with activities of daily living including bathing, dressing, grooming,
                toileting, etc. </span>Our caregivers can provide the support your loved one needs to get through the
              day safely and comfortably.
            </p>
          </li>


        </ul>
        <a class="content__back" href="javascript:void(0)">Back to Services</a>
      </div>
    </div>

  </main>




  ${require('../parts/footer.html')}
</body>

</html>
