.header{
  position: fixed;
  z-index: 1020;
  left: 0;
  right: 0;
  top: 0;
  max-width: 100vw;
  transition: linear .2s;
  &.fixed{
    .header-top{
      margin-top: -60px;
    }
  }
}

.header-top{
  background-color: $dark-blue;
  transition: linear .3s;
}

.header-top__wrapper{
  height: 60px;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-lang__wrapper{
  min-width: 160px;
  width: max-content;
  position: relative;
}

.header-lang{
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  padding: 4px 10px 4px 15px;
  cursor: pointer;
  >img{
    margin-right: 10px;
  }
  >span{
    margin-right: 4px;
    font-size: 14px;
    line-height: 18px;
    font-family: $condensed;
    color: rgba(255, 255, 255, 0.5);
  }
  >svg{
    path{
      fill: rgba(255, 255, 255, 0.5);
    }
  }
}

.header-contacts{
  display: flex;
  align-items: center;
  li{
    padding: 0 18px;
    position: relative;
    &:after{
      position: absolute;
      content: '';
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 24px;
      background-color: #C4C4C4;
    }
    &:last-child{
      &:after{
        display: none;
      }
    }
    div, a{
      text-decoration: none;
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 21px;
      font-family: $condensed;
      transition: linear .2s;
      color: #fff;
      &:hover{
        text-decoration: none;
        color: $light-blue;
      }
      svg{
        margin-right: 4px;
        path{
          fill: $light-blue;
        }
      }
    }
  }
}

.header-main{
  background-color: #fff;
}

.header-main__wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88px;
  padding: 15px 0;
}

.header-logo{
  display: flex;
  align-items: center;
  width: 262px;
  height: 58px;
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.header-menu{
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  @include bp(md){
    display: none;
  }
  >li{
    padding: 0 15px;
    position: relative;
    &:after{
      position: absolute;
      content: '';
      top: 100%;
      width: 100%;
      height: 10px;
    }
    >a, >span{
      display: block;
      transition: linear .2s;
      font-weight: 700;
      font-family: $condensed;
      color: $dark-blue;
      font-size: 16px;
      line-height: 21px;
      text-transform: uppercase;
      text-decoration: none;
      position: relative;
      &:hover, &:focus{
        text-decoration: none;
      }
      &.current{
        color: $accent;
        &:after{
          position: absolute;
          content: '';
          width: 100%;
          height: 4px;
          background-color: $accent;
          left: 0;
          top: calc(100% + 3px);
        }
      }
    }
    >.submenu{
      position: absolute;
      display: none;
      background: #fff;
      box-shadow: 0 4px 20px rgba(31, 56, 98, 0.15);
      border-radius: 2px;
      overflow: hidden;
      min-width: 155px;
      top: calc(100% + 5px);
      padding: 4px 0 0;
      right: 15px;
      >li{
        >a, >span{
          display: block;
          padding: 5px 12px;
          font-size: 16px;
          line-height: 21px;
          font-family: $condensed;
          color: $blue;
          text-decoration: none;
          &:hover{
            text-decoration: none;
            color: #fff;
            background-color: $accent;
          }
          &.current{
            color: $accent;
            &:hover{
              color: #fff;
            }
          }
        }
        &:first-child{
          >a, >span{
            padding-top: 10px;
          }
        }
        &:last-child{
          >a, >span{
            padding-bottom: 10px;
          }
        }
      }
      &:before{
        position: absolute;
        content: '';
        border-radius: 2px 2px 0 0;
        background-color: $dark-blue;
        height: 4px;
        width: 100%;
        top: 0;
        left: 0;
      }
    }
    &.has-children{
      >a{
        padding-right: 17px;
        svg{
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          path{
            fill: $dark-blue;
          }
        }
      }
      &:hover{
        >a{
          svg{
            path{
              fill: $accent;
            }
          }
        }
      }
    }
    &:hover{
      >a, >span{
        color: $accent;
      }
      >.submenu{
        display: block;
      }
    }
  }
}

.header-buttons{
  display: flex;
  .btn-filled__accent{
    margin-right: 15px;
  }
}

.header-spacer{
  height: 148px;
  width: 100%;
}

.mobile-menu__btn{
  display: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 20px;
  cursor: pointer;
  transition: background 0.3s;
  position: relative;
  background-color: transparent;
  border: none;
  @include bp(md){
    display: block;
  }
  span{
    display: block;
    position: absolute;
    top: 9px;
    left: 0;
    right: 0;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
    transition: background .3s;
    &:before{
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 2px;
      border-radius: 1px;
      background-color: #fff;
      content: '';
      top: -8px;
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.3s, 0;
      transition-property: top, transform;
    }
    &:after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 2px;
      border-radius: 1px;
      background-color: #fff;
      content: '';
      bottom: -8px;
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.3s, 0;
      transition-property: top, transform;
    }
  }
  &.active {
    span {
      background: none;
      &:before {
        top: 0;
        transform: rotate(45deg);
        transition-delay: 0, 0.3s;
      }
      &:after {
        bottom: 0;
        transform: rotate(-45deg);
        transition-delay: 0, 0.3s;
      }
    }
  }
}

.mobile-menu__wrapper{
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100vw;
  background-color: rgba(16, 19, 64, 0.9);
  top: 80px;
  z-index: 1020;
  overflow: auto;
  text-align: center;
  @include bp(xs){
    top: 66px;
  }
  .container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-menu{
    flex-direction: column;
    align-items: center;
    @include bp(md){
      display: flex;
    }
    li{
      padding: 20px;
      a, span{
        font-size: 26px;
      }
    }
  }
}