.header{
  position: fixed;
  z-index: 1020;
  left: 0;
  right: 0;
  top: 0;
  max-width: 100vw;
  transition: linear .2s;
  &.fixed{
    .header-top{
      margin-top: -60px;
      @include bp(md){
        margin-top: 0;
      }
    }
    /*+.header-spacer{
      +.mobile-menu__wrapper{
        +main{
          .main-section{
            background: url("../images/bg-main.jpg") no-repeat center 0;
          }
        }
      }
    }*/
  }
}

.header-top{
  background-color: $dark-blue;
  transition: linear .3s;
  @include bp(md){
    box-shadow: 0 0 20px rgba(56, 56, 56, 0.2);
    background-color: #fff;
    position: relative;
  }
}

.header-top__wrapper{
  height: 60px;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include bp(md){
    height: 50px;
    padding: 11px 0;
  }
}

.header-logo__mob{
  display: none;
  @include bp(xs){
    display: block;
  }
}

.header-lang__wrapper{
  min-width: 160px;
  width: max-content;
  position: relative;
  @include bp(md){
    display: none;
  }
}

.header-lang{
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  padding: 4px 10px 4px 15px;
  cursor: pointer;
  >img{
    margin-right: 10px;
  }
  >span{
    margin-right: 4px;
    font-size: 14px;
    line-height: 18px;
    font-family: $condensed;
    color: rgba(255, 255, 255, 0.5);
  }
  >svg{
    path{
      fill: rgba(255, 255, 255, 0.5);
    }
  }
}

.header-contacts{
  display: flex;
  align-items: center;
  li{
    padding: 0 18px;
    position: relative;
    @include bp(md){
      display: none;
      padding: 0;
    }
    &.header-phone{
      @include bp(md){
        display: block;
      }
    }
    &:after{
      position: absolute;
      content: '';
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 24px;
      background-color: #C4C4C4;
      @include bp(md){
        display: none;
      }
    }
    &:last-child{
      &:after{
        display: none;
      }
    }
    div, a{
      text-decoration: none;
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 21px;
      font-family: $condensed;
      transition: linear .2s;
      color: #fff;
      @include bp(md){
        color: $dark-blue;
      }
      &:hover{
        text-decoration: none;
        color: $light-blue;
        svg{
          path{
            @include bp(md){
              fill: $light-blue;
            }
          }
        }
      }
      svg{
        margin-right: 4px;
        path{
          fill: $light-blue;
          @include bp(md){
            fill: $mid-blue;
          }
        }
      }
    }
  }
}

.header-main{
  background-color: #fff;
}

.header-main__wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88px;
  padding: 15px 0;
  @include bp(md){
    height: 60px;
    padding: 10px 0;
    justify-content: space-between;
  }
}

.header-logo{
  display: flex;
  align-items: center;
  width: 262px;
  height: 58px;
  @include bp(sm){
    margin-right: 15px;
  }
  @include bp(xs){
    display: none;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.header-menu{
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  padding: 0 20px;
  @include bp(md){
    display: none;
  }
  >li{
    padding: 0 15px;
    position: relative;
    @include bp(lg){
      padding: 0 10px;
    }
    &:after{
      position: absolute;
      content: '';
      top: 100%;
      width: 100%;
      height: 10px;
    }
    >a, >span{
      display: block;
      transition: linear .2s;
      font-weight: 700;
      font-family: $condensed;
      color: $dark-blue;
      font-size: 16px;
      line-height: 21px;
      text-transform: uppercase;
      text-decoration: none;
      position: relative;
      &:hover, &:focus{
        text-decoration: none;
      }
      &.current{
        color: $accent;
        &:after{
          position: absolute;
          content: '';
          width: 100%;
          height: 4px;
          background-color: $accent;
          left: 0;
          top: calc(100% + 3px);
        }
      }
    }
    >.submenu{
      position: absolute;
      display: none;
      background: #fff;
      box-shadow: 0 4px 20px rgba(31, 56, 98, 0.15);
      border-radius: 2px;
      overflow: hidden;
      min-width: 155px;
      top: calc(100% + 5px);
      padding: 4px 0 0;
      right: 15px;
      @include bp(lg){
        right: 10px;
      }
      >li{
        >a, >span{
          display: block;
          padding: 5px 12px;
          font-size: 16px;
          line-height: 21px;
          font-family: $condensed;
          color: $blue;
          text-decoration: none;
          &:hover{
            text-decoration: none;
            color: #fff;
            background-color: $accent;
          }
          &.current{
            color: $accent;
            &:hover{
              color: #fff;
            }
          }
        }
        &:first-child{
          >a, >span{
            padding-top: 10px;
          }
        }
        &:last-child{
          >a, >span{
            padding-bottom: 10px;
          }
        }
      }
      &:before{
        position: absolute;
        content: '';
        border-radius: 2px 2px 0 0;
        background-color: $dark-blue;
        height: 4px;
        width: 100%;
        top: 0;
        left: 0;
      }
    }
    &.has-children{
      >a{
        padding-right: 17px;
        svg{
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          path{
            fill: $dark-blue;
          }
        }
      }
      &:hover{
        >a{
          svg{
            path{
              fill: $accent;
            }
          }
        }
      }
    }
    &:hover{
      >a, >span{
        color: $accent;
      }
      >.submenu{
        display: block;
      }
    }
  }
}

.header-buttons{
  display: flex;
  @include bp(xs){
    width: 100%;
    justify-content: space-between;
  }
  .btn{
    @include bp(sm){
      font-size: 14px;
    }
    @include bp(xs){
      font-size: 12px;
      min-width: 105px;
      width: calc(40% - 4px);
    }
  }
  .btn-filled__accent{
    margin-right: 15px;
    @include bp(xs){
      width: calc(60% - 4px);
      margin-right: 0;
    }
  }
}

.header-spacer{
  height: 148px;
  width: 100%;
  @include bp(md){
    height: 110px;
  }
}

.mobile-menu__btn{
  display: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 35px;
  height: 26px;
  cursor: pointer;
  transition: background 0.3s;
  position: relative;
  background-color: transparent;
  border: none;
  @include bp(md){
    display: block;
  }
  span{
    display: block;
    position: absolute;
    width: 26px;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    right: 5px;
    height: 2px;
    border-radius: 1px;
    background-color: $dark-blue;
    transition: background .3s;
    &:before{
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 2px;
      border-radius: 1px;
      background-color: $dark-blue;
      content: '';
      top: -7px;
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.3s, 0;
      transition-property: top, transform;
    }
    &:after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 2px;
      border-radius: 1px;
      background-color: $dark-blue;
      content: '';
      bottom: -7px;
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.3s, 0;
      transition-property: top, transform;
    }
  }
  &.active {
    span {
      background: none;
      &:before {
        top: 0;
        transform: rotate(45deg);
        transition-delay: 0, 0.3s;
      }
      &:after {
        bottom: 0;
        transform: rotate(-45deg);
        transition-delay: 0, 0.3s;
      }
    }
  }
}

.mobile-menu__wrapper{
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100vw;
  background-color: #fff;
  top: 50px;
  z-index: 1020;
  overflow: auto;
}

.mobile-menu__inner{
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.mobile-menu__top{
  padding: 30px 15px 0;
  width: 100%;
}

.mobile-menu{
  font-family: $condensed;
  >li{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 18px;
    >a{
      color: $dark-blue;
      text-decoration: none;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      text-transform: uppercase;
      &:hover{
        text-decoration: none;
        color: $accent;
      }
    }
    >span{
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 5px;
      svg{
        transform: scale(1, -1);
      }
    }
    &.has-children{
      &.active{
        >span{
          svg{
            transform: scale(1, 1);
          }
        }
      }
    }
    ul{
      width: 100%;
      padding-left: 14px;
      padding-top: 16px;
      padding-bottom: 2px;
      li{
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 10px;
        &:last-child{
          margin-bottom: 0;
        }
        a{
          color: $mid-blue;
          text-decoration: none;
          &:hover{
            text-decoration: none;
            color: $accent;
          }
        }
      }
    }
  }
}

.mobile-menu__bot{
  width: 100%;
  .header-buttons{
    padding: 20px 15px 26px;
    justify-content: center;
    @include bp(xs){
      justify-content: space-between;
    }
  }
}

.mobile-menu__contacts-wrapper{
  background-color: $dark-blue;
  padding: 20px 20px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .header-lang__wrapper{
    @include bp(md){
      display: block;
    }
  }
}

.mobile-menu__address{
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #fff;
  font-family: $condensed;
  margin-bottom: 17px;
  svg{
    margin-right: 3px;
  }
}

.mobile-menu__contacts{
  display: flex;
  font-size: 16px;
  line-height: 21px;
  font-family: $condensed;
  margin-bottom: 20px;
  li{
    padding-right: 30px;
    position: relative;
    &:after{
      position: absolute;
      content: '';
      width: 1px;
      height: 24px;
      background-color: #C4C4C4;
      right: 14px;
      top: 50%;
      transform: translateY(-50%);
    }
    &:last-child{
      padding-right: 0;
      &:after{
        display: none;
      }
    }
    a{
      color: #fff;
      display: flex;
      align-items: center;
      text-decoration: underline;
      svg{
        margin-right: 5px;
      }
      &:hover{
        text-decoration: none;
      }
    }
  }
}