// Переменные для приложения и всех модулей

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$formBorder: none;
$formBorderRadius: 0;
$inputBorderRadius: 0;
$blue: #8BA7D6;
$light-blue: #83D2FF;
$mid-blue: #4560A9;
$dark-blue: #1F3862;
$accent: #CD8F2D;
$default: 'Roboto';
$condensed: 'RobotoCondensed';