// Переменные для приложения и всех модулей

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$formBorder: none;
$formBorderRadius: 0;
$inputBorderRadius: 0;
$blue: #8ba7d6;
$light-blue: #83d2ff;
$mid-blue: #4560a9;
$dark-blue: #1f3862;
$accent: #cd8f2d;
$default: "Roboto";
$condensed: "RobotoCondensed";
