<div class="section section-consult">
    <div class="container">
        <form class="consult-form ajax_form" data-error-title="Something went wrong!" data-error-message="Please try again later." data-success-title="Thank you!" data-success-message="We will contact you soon.">
            <span class="section-subtitle animate fadeInUp">Fill out the form and we will contact you soon</span>
            <div class="section-title animate fadeInUp">Get free consultation</div>
            <div class="consult-form__row">
                <div>
                    <div class="input-wrapper animate fadeInUp">
                        <label>First Name*</label>
                        <input class="input" type="text" name="first-name" data-title="First Nme" data-validate-required="Required!" placeholder="First Name*">
                    </div>
                    <div class="input-wrapper animate fadeInUp">
                        <label>Last Name*</label>
                        <input class="input" type="text" name="last-name" data-title="Last Name" data-validate-required="Required!" placeholder="Last Name*">
                    </div>
                    <div class="input-wrapper animate fadeInUp">
                        <label>Phone Number*</label>
                        <input class="input" type="text" name="phone" data-title="Phone" data-validate-required="Required!" placeholder="Phone Number*">
                    </div>
                </div>
                <div>
                    <div class="input-wrapper animate fadeInUp">
                        <label>Email Address</label>
                        <input class="input" type="text" name="email" data-title="Email" placeholder="Email Address">
                    </div>
                    <div class="input-wrapper animate fadeInUp">
                        <label>ZIP code where service is needed</label>
                        <input class="input" type="text" name="zip" data-title="ZIP" placeholder="ZIP code">
                    </div>
                    <div class="input-wrapper animate fadeInUp">
                        <label>Message*</label>
                        <input class="input" type="text" name="message" data-title="Message" data-validate-required="Required!" placeholder="Message*">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-filled btn-filled__light animate fadeInUp">
              <span>
                  SEND INFORMATION
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6.40012 3.52047L10.8801 8.00047L6.40012 12.4805L5.12012 11.0938L8.21345 8.00047L5.12012 4.90714L6.40012 3.52047Z" fill="#83D2FF"></path>
                  </svg>
              </span>
            </button>
        </form>
    </div>
</div>