<div class="testimonials">

  <div class="testimonials__inner">
    <small class="testimonials__subtitle">What people say about us</small>
    <h2 class="testimonials__title">Testimonials</h2>

    <!-- slider -->
    <div class="testimonials__slider slick-slider"
      data-slick='{"slidesToShow": 3, "infinite": false, "initialSlide": 2, "slidesToScroll": 1, "arrows": true, "dots": false, "centerMode":false, "variableWidth": false, "responsive":[{"breakpoint":767,"settings":{"variableWidth": true, "centerMode":true}}]}'>


      <div class="testimonials__slide">
        <p class="testimonials__slide-name">Alice walkers</p>
        <div class="testimonials__slide-rating slide-rating">
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item"></span>
        </div>
        <p class="testimonials__slide-text">
          The service is very good. People are very polite. Customer service is at an excellent level. The
          benefits are very good.
        </p>
      </div>
      <div class="testimonials__slide">
        <p class="testimonials__slide-name">Alice walkers</p>
        <div class="testimonials__slide-rating slide-rating">
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item"></span>
        </div>
        <p class="testimonials__slide-text">
          The service is very good. People are very polite. Customer service is at an excellent level. The
          benefits are very good.
        </p>
      </div>
      <div class="testimonials__slide">
        <p class="testimonials__slide-name">Alice walkers</p>
        <div class="testimonials__slide-rating slide-rating">
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item"></span>
        </div>
        <p class="testimonials__slide-text">
          The service is very good. People are very polite. Customer service is at an excellent level. The
          benefits are very good.
        </p>
      </div>
      <div class="testimonials__slide">
        <p class="testimonials__slide-name">Alice walkers</p>
        <div class="testimonials__slide-rating slide-rating">
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item"></span>
        </div>
        <p class="testimonials__slide-text">
          The service is very good. People are very polite. Customer service is at an excellent level. The
          benefits are very good.
        </p>
      </div>
      <div class="testimonials__slide">
        <p class="testimonials__slide-name">Alice walkers</p>
        <div class="testimonials__slide-rating slide-rating">
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item"></span>
        </div>
        <p class="testimonials__slide-text">
          The service is very good. People are very polite. Customer service is at an excellent level. The
          benefits are very good.
        </p>
      </div>
      <div class="testimonials__slide">
        <p class="testimonials__slide-name">Alice walkers</p>
        <div class="testimonials__slide-rating slide-rating">
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item"></span>
        </div>
        <p class="testimonials__slide-text">
          The service is very good. People are very polite. Customer service is at an excellent level. The
          benefits are very good.
        </p>
      </div>
      <div class="testimonials__slide">
        <p class="testimonials__slide-name">Alice walkers</p>
        <div class="testimonials__slide-rating slide-rating">
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item"></span>
        </div>
        <p class="testimonials__slide-text">
          The service is very good. People are very polite. Customer service is at an excellent level. The
          benefits are very good.
        </p>
      </div>
      <div class="testimonials__slide">
        <p class="testimonials__slide-name">Alice walkers</p>
        <div class="testimonials__slide-rating slide-rating">
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item"></span>
        </div>
        <p class="testimonials__slide-text">
          The service is very good. People are very polite. Customer service is at an excellent level. The
          benefits are very good.
        </p>
      </div>
      <div class="testimonials__slide">
        <p class="testimonials__slide-name">Alice walkers</p>
        <div class="testimonials__slide-rating slide-rating">
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item"></span>
        </div>
        <p class="testimonials__slide-text">
          The service is very good. People are very polite. Customer service is at an excellent level. The
          benefits are very good.
        </p>
      </div>
      <div class="testimonials__slide">
        <p class="testimonials__slide-name">Alice walkers</p>
        <div class="testimonials__slide-rating slide-rating">
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item"></span>
        </div>
        <p class="testimonials__slide-text">
          The service is very good. People are very polite. Customer service is at an excellent level. The
          benefits are very good.
        </p>
      </div>
      <div class="testimonials__slide">
        <p class="testimonials__slide-name">Alice walkers</p>
        <div class="testimonials__slide-rating slide-rating">
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item"></span>
        </div>
        <p class="testimonials__slide-text">
          The service is very good. People are very polite. Customer service is at an excellent level. The
          benefits are very good.
        </p>
      </div>
      <div class="testimonials__slide">
        <p class="testimonials__slide-name">Alice walkers</p>
        <div class="testimonials__slide-rating slide-rating">
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item active"></span>
          <span class="slide-rating__item"></span>
        </div>
        <p class="testimonials__slide-text">
          The service is very good. People are very polite. Customer service is at an excellent level. The
          benefits are very good.
        </p>
      </div>
    </div>

  </div>


</div>
