<div class="section section-testimonials">
  <div class="container">
    <span class="section-subtitle animate fadeInUp">What people say about us</span>
    <div class="section-title animate fadeInUp">Testimonials</div>
    <div class="row testimonials-wrapper animate fadeInUp">
      <div class="testimonials-slider slick-slider" data-slick='{"slidesToShow": 3, "arrows": true, "dots": false, "infinite": true, "autoplay": true, "autoplaySpeed": 5000, "responsive":[{"breakpoint":991,"settings":{"slidesToShow": 2, "centerMode": true}}, {"breakpoint":767,"settings":{"slidesToShow": 1, "centerMode": true, "centerPadding": "60px"}}]}'>
        <div class="slide">
          <span class="testimonials-slide__title">Alice Walkers</span>
          <div class="testimonials-slide__rating">
            <div class="rating-stars">
              <span class="rating-star icon-star active"></span>
              <span class="rating-star icon-star active"></span>
              <span class="rating-star icon-star active"></span>
              <span class="rating-star icon-star active"></span>
              <span class="rating-star icon-star active"></span>
            </div>
          </div>
          <p class="testimonials-slide__text">Great service.So happy I chose this agency. They are sincere and they address every problem personally. The best Home care agency ever and the management is just awesome.</p>
        </div>
        <div class="slide">
          <span class="testimonials-slide__title">Rob Stone</span>
          <div class="testimonials-slide__rating">
            <div class="rating-stars">
              <span class="rating-star icon-star active"></span>
              <span class="rating-star icon-star active"></span>
              <span class="rating-star icon-star active"></span>
              <span class="rating-star icon-star active"></span>
              <span class="rating-star icon-star"></span>
            </div>
          </div>
          <p class="testimonials-slide__text">The service is very good. People are very polite. Customer service is at an excellent level. The benefits are very good.</p>
        </div>
        <div class="slide">
          <span class="testimonials-slide__title">Andrew Tight</span>
          <div class="testimonials-slide__rating">
            <div class="rating-stars">
              <span class="rating-star icon-star active"></span>
              <span class="rating-star icon-star active"></span>
              <span class="rating-star icon-star active"></span>
              <span class="rating-star icon-star active"></span>
              <span class="rating-star icon-star active"></span>
            </div>
          </div>
          <p class="testimonials-slide__text">They have different kind of benefits and all of them are good. I love this agency and the service.</p>
        </div>
        <div class="slide">
          <span class="testimonials-slide__title">Rob Stone</span>
          <div class="testimonials-slide__rating">
            <div class="rating-stars">
              <span class="rating-star icon-star active"></span>
              <span class="rating-star icon-star active"></span>
              <span class="rating-star icon-star active"></span>
              <span class="rating-star icon-star active"></span>
              <span class="rating-star icon-star"></span>
            </div>
          </div>
          <p class="testimonials-slide__text">The service is very good. People are very polite. Customer service is at an excellent level. The benefits are very good.</p>
        </div>
        <div class="slide">
          <span class="testimonials-slide__title">Andrew Tight</span>
          <div class="testimonials-slide__rating">
            <div class="rating-stars">
              <span class="rating-star icon-star active"></span>
              <span class="rating-star icon-star active"></span>
              <span class="rating-star icon-star active"></span>
              <span class="rating-star icon-star active"></span>
              <span class="rating-star icon-star active"></span>
            </div>
          </div>
          <p class="testimonials-slide__text">They have different kind of benefits and all of them are good. I love this agency and the service.</p>
        </div>
      </div>
    </div>
  </div>
</div>